<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset=""utf-8"">
<title>Flixtiqs Movie Booking App</title>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js/Mainpage.js"></script>
<script src="../js/admin.js"></script>
<script src="../js/app.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/custom.css" type="text/css">
</head>
<body ng-app="app">
	<div class="container">
		<div class = "header">
		<h1>FlixTiqs Movie Ticket Booking App</h1>
		</div>
		<h3><a href="#/">Home</a>&nbsp;&nbsp;<a href="#/admin">Admin</a></h3>
		<div ng-view></div>
		
	</div>
</body>
</html>